{% extends 'AppBundle::base.html.twig' %}

{% block body %}

    <h1>Homepage</h1>
    <hr>
    <div id="blurb-list">
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>

        //(function(){
        //    "use strict"

            console.log('Hello World!');

            function htmlEncode(value){
                return $('<div/>').text(value).html();
            }

            $.fn.serializeObject = function() {
                var o = {};
                var a = this.serializeArray();
                $.each(a, function() {
                    if (o[this.name] !== undefined) {
                        if (!o[this.name].push) {
                            o[this.name] = [o[this.name]];
                        }
                        o[this.name].push(this.value || '');
                    } else {
                        o[this.name] = this.value || '';
                    }
                });
                return o;
            };



            var Blurb = Backbone.Model.extend({
                defaults: {
                    id: null,
                    text: '...'
                },
                urlRoot: '/api/blurbs'
            });

            var Blurbs = Backbone.Collection.extend({
                model: Blurb,
                url: '/api/blurbs',
                initialize: function() {
                    console.log("Blurb Collection is initialized");
                    this.sort_key = 'id';
                },
                comparator: function(a, b) {
                    a = a.get(this.sort_key);
                    b = b.get(this.sort_key);
                    return a > b ? -1
                         : a < b ?  1
                         :          0;
                },
                sortById: function() {
                    this.sort_key = 'id';
                    this.sort();
                },
                sortByText: function() {
                    this.sort_key = 'text';
                    this.sort();
                }

            });



            var BlurbListView = Backbone.View.extend({
                el: '#blurb-list',
                blurbs: new Blurbs(),
                events: {
                    'submit #blurb-add-form': 'saveBlurb'
                },

                initialize: function() {
                    var self = this;
                    //this.listenTo(this.blurbs, 'sort reset', this.render);
                    this.blurbs.fetch({
                        success: function(blurbs) {
                            console.log(blurbs);
                            self.render();
                        }
                    });
                },

                saveBlurb: function (ev) {
                    console.log('saveBlurb');
                    ev.preventDefault();

                    var self = this;
                    var blurbDetails = $(ev.currentTarget).serializeObject();
                    console.log(blurbDetails);

                    //var blurb = new Blurb();
                    this.blurbs.create(blurbDetails, {
                        wait: true,
                        success: function() {
                            console.log('blurbs.create success!');
                            self.render();
                        },
                        error: function() {
                            console.log('blurbs.create error!');
                        }
                    });

                    console.log('saveBlurb end');
                    //return false;
                },

                render: function() {
                    if( this.blurbs.length > 0 )
                    {
                        this.blurbs.sortById();

                        _.each(this.blurbs.models, function(blurb) {
                            console.log(blurb.get('text'));
                        });
                        var template = _.template($('#blurb-list-template').html());
                        var html = template({blurbs: this.blurbs.models});
                        this.$el.html(html);
                    }
                }
            });

            var blurbListView = new BlurbListView({ model: Blurb });



            var Router = Backbone.Router.extend({
                routes: {
                    "": "home",
                    "added/:id": "added"
                }
            });

            var router = new Router();
            router.on('route:home', function(){
                console.log('route:home');
                blurbListView.render();
            });

            Backbone.history.start();

        //})();

    </script>

    <script type="text/template" id="blurb-list-template">
        <form id="blurb-add-form">
            <div class="form-group">
                <textarea name="text" class="form-control" rows="3"></textarea>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </form>
        <h3>Blurb List</h3>
        <ul>
            <% _.each(blurbs, function(blurb) { %>
            <li><%= blurb.get('id') %> :: <%= blurb.get('text') %></li>
            <% }); %>
        </ul>
    </script>

{% endblock %}
